<div class="row">
    <div class="small-12 medium-12 columns">

        <div class="wrapper_person_1" *ngFor="let user of users">
            <div class="pic_1">
            </div>
            <h2 class="edit">{{ user.name }}</h2>
            <!--<h2 (click)="userInfo(user)" >{{ user.name }}</h2>-->

            <h4 class="edit"> {{ user.company.name }}</h4>
            <p class="edit"><i class="fi-mail icons"></i> {{ user.email }}</p>
            <p class="edit"><i class="fi-telephone icons"></i> {{ user.phone }}</p>

            <div >
                <a class="fi-trash "  (click)="removeUser(user.id)"> Remove </a>
                <span>   |   </span>
                <a class="fi-pencil "  (click)="editUser(user.id)"> Edit</a>
            </div>

        </div>

        <!--     <div *ngFor="let user of users">


                 <h2 (click)="userInfo(user)" ><i class="fi-torso"></i> {{ user.username }}</h2>
                 <button  class="fi-trash button" value="remove user" (click)="removeUser(user.id)"> Remove</button>
                 &lt;!&ndash;<input type="text" class="button" value="remove user" (click)="removeUser(user.id)">&ndash;&gt;
             </div>-->
    </div>
</div>
