<div class="row">
    <div class="small-12 medium-12 columns">

        <div class="wrapper_person_1" *ngFor="let user of users">
            <user-details [user]="user" (onRemove)="onRemove($event)"></user-details>
        </div>
        <div>
        <button type="button" (click)="saveUsers()">Save</button>
        </div>
        <!--     <div *ngFor="let user of users">


                 <h2 (click)="userInfo(user)" ><i class="fi-torso"></i> {{ user.username }}</h2>
                 <button  class="fi-trash button" value="remove user" (click)="removeUserEvent(user.id)"> Remove</button>
                 &lt;!&ndash;<input type="text" class="button" value="remove user" (click)="removeUserEvent(user.id)">&ndash;&gt;
             </div>-->
    </div>
</div>
